@import 'mixin';
@import 'animate';


//variables
$white: #f5f5f5;


::-webkit-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    color: $white;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    cursor: pointer;
}
body {
    @include wh(100%, 100vh);
    background: {
        image: url('../img/blue-grey-pentagonal-background.png');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    }
    font-family: "lucida grande", 
                "lucida sans unicode", 
                lucida, helvetica, 
                "Hiragino Sans GB", 
                "Microsoft YaHei", 
                "WenQuanYi Micro Hei", 
                sans-serif;
}
#banner, #mainPage {
    @include wh(100%, 100vh);
}
#banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: {
        direction: column;
    }
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    header {
        -webkit-animation: fadeInUp 1.5s ease;
                animation: fadeInUp 1.5s ease;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex: {
            direction: column;
        }
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        h1 {
            font-size: 400%;
            text-align: center;
        }
    }
}
#scrollDownBtn {
    font-size: 500%;
    -webkit-animation: fadeInUp 4s ease, upAndDown 4s ease infinite;
            animation: fadeInUp 4s ease, upAndDown 4s ease infinite;
}
.underline {
    @include wh(80%, 2px);
    background-color: $white;
    -webkit-animation: zoomIn 2s ease;
            animation: zoomIn 2s ease;
}
#mainPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
main {
    @include wh(80%, 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: {
        wrap: wrap;
    }
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}
.project {
    @include wh(30%, 100px);
    -webkit-transition: background-color 400ms, -webkit-box-shadow 400ms;
    transition: background-color 400ms, -webkit-box-shadow 400ms;
    transition: background-color 400ms, box-shadow 400ms;
    transition: background-color 400ms, box-shadow 400ms, -webkit-box-shadow 400ms;
    h2, p {
        text-align: center;
        margin-top: 5%;
    }
    h2 {
        font-size: 105%;
    }
    p {
        font-size: 95%;
    }
    time {
        margin-left: 10px;
    }
}
.pageControl {
    @include wh(30%, 100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    button {
        font-size: 300%;
    }
    p {
        font-size: 150%;
    }
    input {
        background-color: transparent;
        font-size: 100%;
        width: 30px;
        border-bottom: 2px solid $white;
        text-align: center;
    }
}
/*----- Media -----*/
@media screen and (min-width: 1000px) {
    .project:hover {
        background-color: rgba(119,136,153,0.5);
        -webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
                box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
    }
}
@media screen and (max-width: 768px) {
    body {
        background: {
            position: center;
        };
    }
    #banner {
        header {
            h1 {
                font-size: 200%;
            }
        }
    }
    #scrollDownBtn {
        font-size: 400%;
    }
    main{
        @include wh(100%, 100%);
        flex: {
            direction: column;
            wrap: nowrap;
        }
    }
    .project, .pageControl {
        width: 100%;
    }
    .project:active {
        background-color: rgba(119,136,153,0.5);
        -webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
                box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
    }
}