@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: "Montserrat";
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eeeeee;
    overflow: hidden;
}
#canvas {
    border: 2px solid rgb(131, 175, 155);
}
#info {
    text-align: center;
    width: 100%;
    font-size: 40%;
    color: rgb(254, 67, 101);
    position: relative;
    top: 10px;
}
a {
    text-decoration: none;
    color: rgb(254, 67, 101);
}
#controlPanel {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 30%;
    height: 30%;
    background-color: rgba(131, 175, 155, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 0 0 0 30px;
    color: rgb(254, 67, 101);
    border-left: 2px solid rgb(131, 175, 155);
    border-bottom: 2px solid rgb(131, 175, 155);
}
.buttonWrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
button {
    color: rgb(254, 67, 101);
    width: 40%;
    height: 25px;
    border: 1px solid rgb(254, 67, 101);
    background-color: rgb(200, 200, 169);
    cursor: pointer;
}
button:active {
    -webkit-box-shadow: 0 0 5px rgb(254, 67, 101) inset;
            box-shadow: 0 0 5px rgb(254, 67, 101) inset;
}
input[type=range] {
    -webkit-appearance: none;
    width: 120px;
    height: 2px;
    background-color: rgb(254, 67, 101);
    position: relative;
    bottom: 5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(131, 175, 155);
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
}
span {
    display: inline-block;
    text-align: center;
    width: 50px;
    margin-left: 10px;
}
#dialog {
    height: 100px;
    width: 300px;
    border: 2px solid rgb(254, 65, 100);
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    font-size: 290%;
    color: rgb(254, 67, 101);
    text-align: center;
}

.bounceIn {
    -webkit-animation: bounceIn 0.5s;
            animation: bounceIn 0.5s;
}
.bounceOut {
    -webkit-animation: bounceOut 0.5s;
            animation: bounceOut 0.5s;    
}

@-webkit-keyframes bounceIn{

from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}
20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
}
60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
}
80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
}
to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}

@keyframes bounceIn{

from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}
20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
}
60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
}
80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
}
to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}

@-webkit-keyframes bounceOut{
20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
}
50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}
}

@keyframes bounceOut{
20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
}
50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}
}

@media screen and (max-width: 768px) {
    #controlPanel {
        width: calc(100% - 10px);
        border-radius: 0;
    }
    .buttonWrapper {
        width: 70%;
    }
    button {
        width: 49%;
    }
}